.instrucao {
  display: flex;
  justify-content: center;
}

.pensar {
  border-radius: 10px;
  height: 200px;
  width: 400px;
  padding: 10px;
}

.projetos {
  display: flex;
  padding: 10px;
  gap: 15px;
  flex-wrap: wrap;

}

.um, .tres {/*
  border-top: 1px dotted var(--sexta);
  display: flex;
  justify-content: center;
  */
}

.numero {
  justify-content: center;
  padding: 200px 200px;
  font-size: 40px;
  line-height: 25px;
  font-weight: 700;
  color: var(--setima);
  border-radius: 20px 20%;
  background: var(--decimaprimeira);
  /*
  border: 1px solid var(--quarta);
  border-radius:100cqmin 
  */
}

.dois, .quatro {
  /*border-top: 1px dotted var(--sexta);
  display: flex;
  justify-content: center;
  */
}

.botoes-experiencia-profissional {
  display: flex;
  justify-content: center;
  gap: 5px;
  /*padding: 20px;
  display: flex;
  align-items: center;
  */
  
 
}

.botao-demo, .botao-repositorio {
  display: block;
  /* este margin precisa de diplay block para funcionar */
  margin: 20px auto;
  height: 40px;
  min-width: 194px;
  border: none;
  border-radius: 5px;
  background: var(--sexta);
  color: var(--setima);
  cursor: pointer;
}

.botao-demo:hover, .botao-repositorio:hover {
  opacity: 0.8;
}

.botao-demo:active, .botao-repositorio:active {
  opacity: 0.6;
}


p {
  padding: 10px 30px;
  text-align: center;
}

ul, li {
  list-style: none;
}

