/* VARIAVEIS DE COR */
:root {
  --fundoPreto: #000000;
  --fundoCinza: #434343;
  --fundoLaranja: #a55c1b;
  --fonteBranco: #ffffff;
  --fonteLaranja: #fcb045;
  --fontePreto: #090000;
  --fonteVermelho: #fd1d1d;


  --primeira: #fcb045;
  --segunda: #fd1d1d; 
  
  --quarta: #090000;
  --quinta: #c1c1c1; 
  
  --setima: #ffffff;
   
  --decima: #687466;
  --decimaprimeira: #36495a; 

  --terceira: #833ab4;
  --sexta: #7f00ff;
  --oitava: #cd8d7b;
  --nona: #fbc490;

 /* testes */

  --corum: #daa520;
  --cordois: #ff4500;
  --cortres: #ffa500;
  --corquatro: #ffff00;
  --corcinco: #ff0000;
  --corseis: #f5f0dd;
  --corsete: #ffe4c4;
  --coroito: #000000;
  --cornove: #898b8d;
}

/* INFO GERAIS DE CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;

  /*display: flex;*/
  /*text-align: center;*/
  /*
  flex-direction: column;
  */
  background-color: var(--fundoLaranja);
  background-image: linear-gradient(315deg, var(--fundoLaranja) 0%, var(--fundoCinza) 74%);
  
  
  
  font-family: 'Roboto', sans-serif; 
  font-size: 20px;
  font-weight: 200;
  line-height: 25px;

  list-style: none;
  /*background: url(../img/por-do-sol.jpg), no-repeat;
  background-size: auto;*/

  /* gradiente */
  /*
  background: linear-gradient(45deg, #084177, #687466, #cd8d7b, #fbc490);
  background-size: 300% 300%;
  animation: back 15s ease infinite;
  @keyframes back {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */
} 

/* CABEÇALHO */
header {
  background-color: var(--fonteBranco);

  font-size: 50px;
  line-height: 55px;

  display: flex;
  height: 192px;
  align-items: center;
  justify-content: center;  
}

header span {
  font-weight: 700;
  color: var(--fonteLaranja);
}

.logo {
  width: 20%;
  /*padding: 10px 20px;*/
 
}

.navigation {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

a {
  padding: 10px 45px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-decoration: none;
  color: var(--fonteLaranja);
  cursor: pointer;
}

a:hover {
  opacity: 0.8;
}

a:active {
  opacity: 0.6;
}

/* TITULO */
h1 {
  font-family: 'Emilys Candy', cursive; /*'Spectral', serif;*/
  text-align: center;
  font-size: 60px;
  line-height: 65px;
  font-style: italic;
  font-weight: 700;
  color: var(--fonteBranco);
  padding: 60px 10px; 
  border-bottom: 1px solid #000000; 
}

/* SUB-TITULOS */
h2 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  color: var(--fonteLaranja);
  text-align: center;
  padding: 20px;
}

h2 span {
  color: var(--fonteLaranja);
  font-weight: 700;
}



h3 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  color: var(--fonteBranco);
  text-align: center;
  padding: 20px 20px;
}

/* CONTEUDO PRINCIPAL */
p {
  padding: 10px 100px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  color: var(--fonteBranco);
  text-align: justify;
}

.missao {
  height: 200px;
  width: 400px;
  border-radius: 50%;
  padding: 10px;
  margin-left: 100px;
}

/* RODAPE */
footer {
  background: var(--fundoCinza);
  height: 120px;
  width: 100%; 
}

h6 {
  padding: 50px 10px;
  text-align: center;
  font-size: 12px;
  line-height: 17px;
  font-weight: 100;
  color: var(--fonteBranco);

}

h6 span {
  color: var(--fonteLaranja);
}

h6 .footer {
  font-size: 12px;
  line-height: 17px;
  color: var(--fonteBranco);
}


